:root {
	--primary: #1e8949;
	--secondary: #24c74f;
	--light: #EEE;
	--light-alt: #a5e7b2;
	--dark: #131A26;
	--dark-alt: #202B3E;
}


* {
  margin: 1rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body{
  background-color: var(--dark);
}

.title{
  color: var(--secondary);
  font-size: 50px;
}

.title2{
  color: var(--primary);
  font-style: italic;
  font-weight:bolder ;
  text-decoration: underline;
}

